/* style.css */

body {
    background-color: #1e1e1e;
    color: #fff; /* 白 */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 50px; /* 調整したいマージンのサイズに変更してください */
}

header {
    background-color: #2a2a2a;
    padding: 1em;
    text-align: center;
}

section {
    margin: 2em;
}

h1, h2 {
    color: #61dafb; /* Cyan */
}

a {
    color: #4caf50; /* Green */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #2a2a2a;
    color: #fff; /* 白 */
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

ol li {
    margin-bottom: 10px; /* 任意のマージンを設定してください */
}
